# Local development environment overrides
/local.nix

#Task
/.task
/Taskfile.yaml
/Taskfile.yml

# Misc
.DS_Store
.todo

# Build
/build

# Untracked binary files (like runtime VM state)
/bin/*
# But keep the .gitkeep file, so the directory is tracked
!/bin/.gitkeep
